<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>TFL Bus Tracker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="img/favicon.ico">
    <link rel="shortcut icon" href="img/TFL_roundel.png" />

    
    <link rel="stylesheet" href="css/bootstrap.css">
    
    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="/img/TFL-logo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/"><h6>Home</h6><span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-contents container">
        <div class="main-contents-heading">
            <h1> There are <%=busModel.length%> buses running in your area.</h1>
        </div>
        <div class="list-group container">
            <div class="row" style="justify-content: center; margin-top: 20px;">
                <% for (let i = 0; i < busModel.length; i++) {%>
                    <div class="col-auto">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title"><%=busModel[i].lineName%></h5>
                                <p class="card-text">This service is running from <strong><%=busModel[i].stationName%></strong> to <strong><%=busModel[i].destinationName%></strong>.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><strong>Expected:</strong> <%=busModel[i].dateConverted%></li>
                                <li class="list-group-item bg-light"><%=busModel[i].timeConverted%></li>
                            </ul>
                        </div>
                    </div>
                <%}%>
            </div>
        </div>
    </div>

  
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>